<div class="col-xl-4 col-sm-6" onclick="location.href='{% url 'view_files' heading %}';" style="cursor: pointer;">
    <div class="card shadow-none border">
        <div class="card-body p-3">
            <div class="d-flex align-items-center">
                <div class="avatar-xs me-3">
                    <div class="avatar-title bg-transparent rounded">
                        <i class="bx bxs-folder font-size-24 text-warning"></i>
                    </div>
                </div>
                <div class="overflow-hidden me-auto">
                    <h5 class="font-size-16 text-truncate mb-1">
                        {{ heading|title }}
                        <span class="text-body"> {{ files }} Files</span>
                    </h5>
                </div>
                <div class="ms-auto">
                    <span class="text-muted">{{ size|filesizeformat }}</span>
                </div>
                <div class="ms-2">
                    <div class="dropdown">
                        <a  onclick="event.stopPropagation()" class="font-size-16 text-muted" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <h5 class="font-size-14 text-truncate mb-1">
                                <a href="{% url 'view_files' heading %}" class="text-body" onclick="event.stopPropagation()">Open</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
