{% extends 'authentication/base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

assets
{% block contents %}
<style>
    #pay-with-crypto-button {
        background: #556ee6;
        border-radius: 4px;
        padding: 10px 48px;
        color: #ffffff;
        display: inline-block;
        font: normal bold 16px/1 "Open Sans", sans-serif;
        text-align: center;
        border: none;

    }

    #free-credits {
        background: #34c38f;
        border-radius: 4px;
        padding: 10px 48px;
        color: #ffffff;
        display: inline-block;
        font: normal bold 16px/1 "Open Sans", sans-serif;
        text-align: center;
        border: none;

    }

    /* Style for the spacer div */
    .spacing-between-divs {
        height: 20px;
        /* Adjust the height for the desired spacing */
    }

    /* Styles for the payment buttons container */
    .payment-buttons-container {
        display: flex;
        align-items: center;
    }

    /* Media query for mobile devices */
    @media (max-width: 767px) {
        .payment-buttons-container {
            flex-direction: column;
            /* Stack items vertically */
        }

        #paypal-button,
        #crypto-payment-form {
            margin-right: 0;
            /* Reset margin */
            margin-top: 20px;
            /* Adjust the margin-top for mobile spacing */
            margin-bottom: 20px;
            /* Adjust the margin-bottom for mobile spacing */
        }
        
       
    }
    
            .free-credits{
            margin-top: -35px;
        }
    
      #points-input{
            width: 8%;
        }
    
     @media only screen and (max-width: 767px) {
          .free-credits{
            margin-top: -15px;
        }
        
        #points-input{
            width: 45%;
        }
     }
    
    
</style>

<style>
    .custom-container {
        margin-left: 0;
        padding-left: 0;
        max-width: 100%;
    }
</style>
<div class="checkout-tabs">
    <div class="row">
        <div class="col-xl-2 col-sm-3 mb-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <a class="nav-link active" id="v-pills-payment-tab" data-bs-toggle="pill" role="tab"
                    aria-controls="v-pills-payment" aria-selected="false">
                    <i class="bx bx-money d-block check-nav-icon mt-4 mb-2"></i>
                    <p class="fw-bold mb-4">Payment Info</p>
                </a>

            </div>
        </div>
        
        <div class="col-xl-10 col-sm-9">

            
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-shipping" role="tabpanel"
                            aria-labelledby="v-pills-payment-tab">
                            <div>
                                <div class="container custom-container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 id="level"  class="card-title"  style="display: inline;"></h3>
                                            
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 id="priceAndRecords"  class="card-title" style="display: inline;"></h3>
                                            <input id="points-input" class="form-control" placeholder="Enter number of credits" type="number" required style="display: inline; margin: 0;" />
                                            <h3 id="infoCredits"  class="card-title" style="display: inline;">&nbsp;credits</h3>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4 class="card-title">Payment information</h4>
                                
                                
                                
                                
                                
                                
                                
                                
                                <div>


                                    <div class="payment-buttons-container">
                                        <div class="spacing-between-divs"></div>
                                        <div class="" style="margin-right: 20px;">
                                            <div id="paypal-button"></div>
                                        </div>
                                        <div class="" style="margin-right: 20px; margin-top: -35px;">
                                            <form id="crypto-payment-form" action="{% url 'posts:process_payment' %}"
                                                method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="amount" id="crypto-amount" value="">
                                                <input type="hidden" name="currency" value="USD">
                                                <input type="hidden" name="network" value="tron">
                                                <!-- Update with the actual network value -->
                                                <input type="hidden" name="order_id" id="order-id" value="0">
                                                <input type="hidden" name="url_return"
                                                    value="https://teleteg.com/users/dashboard/">
                                                <!-- Update with your return URL -->
                                                <input type="hidden" name="user_email" value="{{ user.email }}">
                                                <input type="hidden" name="marketplace_flag" id="marketplace-flag" value="false"> <!-- Add this line -->
                                                <input type="hidden" name="marketplace_order_id" id="marketplace_order_id" value="false">

                                                <button id="pay-with-crypto-button" type="button"
                                                    onclick="validateAndProceed()">Pay with crypto</button>



                                            </form>
                                        </div>

                                        <div class="free-credits" style="margin-right: 20px;">

                                            <!-- Apply the same styles to the button -->
                                            <a href="{% url 'posts:referral_program' %}" id="free-credits">Free
                                                Credits</a>

                                        </div>
                                    </div>

                                </div>

                                <br>
                                


                                <div class="container text-center">

                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div>
                    </div>
                </div>
                <!-- end row -->



                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                <script>
           
    
        var currentUrl = window.location.href;

        // Find the index of the order_id parameter
        var orderIdIndex = currentUrl.indexOf("order_id=");

     
        if (orderIdIndex !== -1) {
            // Extract the value of the order_id parameter
            var orderId = currentUrl.substring(orderIdIndex + 9); // 9 is the length of "order_id="

            // Set the value of the hidden input field to the extracted order_id
            document.getElementById("marketplace_order_id").value = orderId;
        }
    </script>
                </script>
                <script>
                     document.addEventListener('DOMContentLoaded', function() {
        // Check if the order_id is present in the URL
        var params = new URLSearchParams(window.location.search);
        if (params.has('order_id')) {
            document.getElementById('marketplace-flag').value = 'true';
        }
    });
          document.addEventListener("DOMContentLoaded", function () {
                        const urlParams = new URLSearchParams(window.location.search);
                        const price = urlParams.get("price");
                        const records = urlParams.get("records");
                        const orderId = urlParams.get("order_id");
                        const orderName = urlParams.get("order_name");
                        const pointsInput = document.getElementById("points-input");
                        const infoCredits = document.getElementById("infoCredits");

                        const priceDiscounts = JSON.parse('{{ price_discounts_data|safe }}');
                        const orderDatas = JSON.parse('{{ orders_prices_data|safe }}');
                        var marketplaceflag = false;

                        for (const priceDiscount of priceDiscounts) {
                            const priceValueFromModel = priceDiscount.fields.price.toString();
                            const recordsValueFromModel = priceDiscount.fields.credits_threshold.toString();
                            const levelValueFromModel = priceDiscount.fields.level.toString();

                            if (price === priceValueFromModel && records === recordsValueFromModel) {
                                pointsInput.value = recordsValueFromModel;
                                var h1Element = document.getElementById("priceAndRecords");
                                var levelElement = document.getElementById("level");

                                // Set the text content of the h1 element to the value of recordsValueFromModel
                                h1Element.textContent = '$' + priceValueFromModel + " " + "- " + " ";
                                levelElement.textContent = "You qualifing for level " + levelValueFromModel ;
  
  
                                break; // Exit the loop if a match is found
                            }
                        }

                        // Logic for price and order ID
        for (const orderData of orderDatas) {
            const priceValueFromModel = orderData.fields.price.toString();
            const orderIdFromModel = orderData.fields.order_number.toString(); 

            var orderIdWithHash = '#' + orderId;
            // Check if both price and order_id match
            if (price === priceValueFromModel && orderIdWithHash === orderIdFromModel) {
                pointsInput.value = priceValueFromModel / 0.025; // Assuming the value to be set is the price
                var h1Element = document.getElementById("priceAndRecords");
                var levelElement = document.getElementById("level");

                // Set the text content of the h1 element to the value of priceValueFromModel
                h1Element.textContent = '$' + priceValueFromModel + " " + "- " + " ";
                pointsInput.style.display = "none";
                infoCredits.textContent = orderName ;
             
           

                break; // Exit the loop if a match is found
            }
        }
        
                    });
                </script>



                <script>
                    function validateAndProceed() {
                        const pointsInput = document.getElementById('points-input');
                        const enteredNumber = Number(pointsInput.value);
                        let marketplaceflag = false;
                            const urlParams = new URLSearchParams(window.location.search);
                            if (urlParams.has("order_id")) {
                                marketplaceflag = true;
                                orderId = urlParams.get("order_id");
                            }

                        if (isNaN(enteredNumber) || enteredNumber <= 0) {
                            alert("Please enter a valid number of credits.");
                            return; // Exit the function
                        }
                        

                        if (enteredNumber < 200 && !marketplaceflag) {
                            alert("Minimum payment is $5 = 200 credits.");
                            return; // Exit the function
                        }
                        if (enteredNumber < 200 && marketplaceflag) {
                            alert("Minimum payment is $5.");
                            return; // Exit the function
                        }

                        const cryptoAmountInput = document.getElementById('crypto-amount');
                        const priceDiscounts = JSON.parse('{{ price_discounts_data|safe }}');



                        for (const priceDiscount of priceDiscounts) {
                            const recordsValueFromModel = priceDiscount.fields.credits_threshold;
                            const priceValueFromModel = priceDiscount.fields.price;

                            if (enteredNumber === recordsValueFromModel) {
                                const cryptoAmountInput = document.getElementById('crypto-amount');
                                cryptoAmountInput.value = priceValueFromModel;
                                break; // Exit the loop if a match is found
                            } else {
                                const calculatedAmount = enteredNumber * 0.025;
                                const cryptoAmountInput = document.getElementById('crypto-amount');
                                cryptoAmountInput.value = calculatedAmount; // Calculate the crypto amount
                            }
                        }

                        const randomOrderId = Math.floor(Math.random() * 1000000);
                        const orderIDInput = document.getElementById('order-id');
                        orderIDInput.value = randomOrderId;

                        // Trigger the form submission
                        document.getElementById('crypto-payment-form').submit();
                    }
                </script>

                <script>
                    function handleCryptoPayment() {
                        const pointsInput = document.getElementById('points-input');
                        const enteredNumber = Number(pointsInput.value);

                        if (isNaN(enteredNumber) || enteredNumber <= 0) {
                            alert("Please enter a valid number of credits.");
                        } else {
                            const cryptoAmountInput = document.getElementById('crypto-amount');

                            // Check if number_of_points is equal to 1000 to apply a discount
                            if (enteredNumber === 1000) {
                                cryptoAmountInput.value = 19; // Set crypto amount to 19
                            } else {
                                const calculatedAmount = enteredNumber * 0.025;
                                cryptoAmountInput.value = calculatedAmount;
                            }

                            const randomOrderId = Math.floor(Math.random() * 1000000);
                            const orderIDInput = document.getElementById('order-id');
                            orderIDInput.value = randomOrderId;

                            // Trigger the form submission
                            document.getElementById('crypto-payment-form').submit();
                        }
                    }
                </script>


                <script>
                    function determinePayment() {
                        const number_of_points = document.getElementById("points-input").value;
                        console.log(number_of_points);

                        if (isNaN(number_of_points) || number_of_points <= 0) {
                            alert("Please enter a valid number of credits.");
                            throw new Error("Please enter a valid number of credits.");
                        }

                        const priceDiscounts = JSON.parse('{{ price_discounts_data|safe }}');

                        let paymentAmount = null;

                        for (const priceDiscount of priceDiscounts) {
                            const recordsValueFromModel = priceDiscount.fields.credits_threshold;
                            const priceValueFromModel = priceDiscount.fields.price;

                            if (Number(number_of_points) === recordsValueFromModel) {
                                paymentAmount = priceValueFromModel;
                                break; // Exit the loop if a match is found
                            }
                        }

                        if (paymentAmount === null) {
                            paymentAmount = Number(number_of_points) * 0.025;
                        }

                        return paymentAmount;
                    }
                </script>


                <script>
                    const payWithCryptoButton = document.getElementById('pay-with-crypto-button');
                    payWithCryptoButton.addEventListener('click', function () {
                        const cryptoAmountInput = document.getElementById('crypto-amount');
                        const pointsInput = document.getElementById('points-input');
                        const enteredNumber = Number(pointsInput.value);

                        if (isNaN(enteredNumber) || enteredNumber <= 0) {
                            alert("Please enter a valid number of credits.");
                            return; // Exit the function
                        }

                        if (enteredNumber === 1000) {
                            cryptoAmountInput.value = 19; // Set crypto amount to 19 for the discount
                        } else {
                            cryptoAmountInput.value = enteredNumber * 0.025; // Calculate the crypto amount
                        }

                        // Set a random order ID and update the input field
                        const randomOrderId = Math.floor(Math.random() * 1000000);
                        const orderIDInput = document.getElementById('order-id');
                        orderIDInput.value = randomOrderId;
                    });


                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }


                    paypal.Button.render({
                        // Configure environment
                        env: 'production',
                        client: {
                            sandbox: 'AVw2Z2iISSMjBHJgvY2zDFGm4XV7Pag0hy1Zt4Hkd5nPouEhu9Tl2SZqpSuTfn80nC-II28jHzmfuj0Y',
                            production: 'AXWvfWjRKD9ZtZ4l0BKfaMlOd3CR77cCUiAEEA6V_xCMm_zFvRYzm2x1NdXzWGLCqPVJIkciY6XEvjYC'
                        },
                        // Customize button (optional)
                        locale: 'en_US',
                        style: {
                            size: 'medium',
                            color: 'gold',
                            shape: 'rect',
                            fundingicons: true,
                        },

                        // Enable Pay Now checkout flow (optional)
                        commit: true,

                        // Set up a payment
                        payment: function (data, actions) {
                            let marketplaceflag = false;
                            const urlParams = new URLSearchParams(window.location.search);
                            if (urlParams.has("order_id")) {
                                marketplaceflag = true;
                                orderId = urlParams.get("order_id");
                            }
                            const number_of_points = document.getElementById("points-input").value;
                            console.log(number_of_points);
                            if (isNaN(number_of_points) || number_of_points <= 0) {
                                alert("Please enter a valid number of credits.");
                                throw new Error("Please enter a valid number of credits.");
                            }

                            if (number_of_points < 200 && !marketplaceflag) {
                                alert("Minimum payment is $5 = 200 credits.");
                                throw new Error("Minimum payment is $5 = 200 credits.");
                            }
                             if (number_of_points < 200 && marketplaceflag) {
                                alert("Minimum payment is $5.");
                                throw new Error("Minimum payment is $5.");
                            }



                            const totalAmount = determinePayment();

                            return actions.payment.create({
                                transactions: [{
                                    amount: {
                                        total: totalAmount,
                                        currency: 'USD'
                                    }
                                }]
                            });


                        },

                        onAuthorize: function (data, actions) {
                            const number_of_points = document.getElementById("points-input").value;
                            let marketplaceflag = false;
                            const urlParams = new URLSearchParams(window.location.search);
                            if (urlParams.has("order_id")) {
                                marketplaceflag = true;
                                orderId = urlParams.get("order_id");
                            }

                            return actions.payment.execute().then(function () {
                                let csrftoken = getCookie('csrftoken');


                                fetch('/payments/paypal/', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({
                                            ...data,
                                            points: Number(number_of_points),
                                            marketplaceflag : marketplaceflag 
                                        }),
                                        headers: {
                                            "X-CSRFToken": csrftoken
                                        }
                                    })
                                    .then((response) => response.json())
                                    .then((data) => {
                                        if (data.success) {
                                            if (marketplaceflag) {
                                                $.ajax({
        type: "POST",
        url: "/users/create_order_history_entry/", // Replace with your Django URL to handle this request
        data: {
            order_id: orderId,
            csrfmiddlewaretoken: "{{ csrf_token }}", // Add CSRF token if CSRF protection is enabled
        },
        success: function(response) {
            // Handle success response if needed
        },
        error: function(xhr, status, error) {
            // Handle error if needed
            console.error(xhr.responseText);
        }
    });
                                                window.location.href = "/users/dashboard/filemanager/?order_id="+orderId; // Redirect if marketplaceflag is true

                                                
                                            } else {
                                                alert(`Purchase successful! Your balance is now ${data.balance}`);
                                            }
                                            

                                        } else {
                                            alert("Purchase failed");
                                        }
                                    })
                                    .catch((error) => {
                                        alert(
                                        "An error occurred while processing the purchase");
                                    });
                            });
                        }
                    }, '#paypal-button');
                </script>
                <!-- end row -->

                {% endblock %}


                {% block extra_javascript %}
                <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>

                <!-- init js -->
                <script src="{% static 'js/pages/ecommerce-select2.init.js' %}"></script>
                {% endblock %}