<div class="container">
  <h5>
    Search Telegram data:
    <span
      class="text-primary"
      data-countup='{"startVal": 0}'
      data-to="2514634"
      data-aos
      data-aos-id="countup:in"
      >0</span
    >
    groups,
    <span
      class="text-primary"
      data-countup='{"startVal": 0}'
      data-to="3729735"
      data-aos
      data-aos-id="countup:in"
      >0
    </span>
    channels,
    <span
      class="text-primary"
      data-countup='{"startVal": 0}'
      data-to="314745642"
      data-aos
      data-aos-id="countup:in"
      >0</span
    >
    target members. Based on interests, language, location.
  </h5>
</div>
